header > h1 {
    font-size: 40px;
    color: orange;
    font-style: italic;
    margin-left: 20px;
    text-shadow: 2px 2px 2px black;
}

header h3 {
    margin-left: 20px;
   
}

header img {
    float: left;
    margin-right: 20px;
}

main > h1::first-letter {
    font-size: 70px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

body {
    font-family: sans-serif;
}

a {
    color: orange;
    font-weight: bold;
}

a:visited {
    color: orange;
}

a:hover, a:focus {
    color: green;
}

li {
    margin-bottom: 2px;
    padding: 2px;
}

footer {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}